<!DOCTYPE html>
<html>
    <head>
        <title>Mikro FB</title>
      </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info" width="75%">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"> MicroFB</a>
        </div>
        <div *ngIf="LoggedIn">
          <a> You are loggen in as : {{UserData.FirstName}}</a>
        </div>
        <div *ngIf="LoggedIn">
        <app-search-engine></app-search-engine></div>
        <div *ngIf="LoggedIn">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()" >Logout</a>
            </li>
          </ul>
        </div>
</div>

      </div>
    </nav>
  </body>

</html>
