<div class="posts-container">
  <form (submit)="saveNewPost($event)" id="new-post">
    <div class="new-post-content">
      <textarea class="form-control" rows="3" cols="80" placeholder="What's on your mind?" name="content" [(ngModel)]="postModel.Content"></textarea>
    </div>
    <div>
      <input type="submit"  name="post-submit" id="post-submit" tabindex="4" class="btn btn-info" style="margin-right: 5px;" value="SUBMIT">
    </div>
  </form>


  <div class="posts">

    <div class="post" *ngFor= "let post of BoardData">
      <div class="post-header row">
        <div class="col-sm-4">
          <img class="post-header-avatar" src="https://dhqbrvplips7x.cloudfront.net/webchat/1.0.23/agent-e202505f.png" alt="" width="25px;">
        </div>
        <div class="post-header-author col-sm-4">
          <div>{{ post.AuthorFirstName }} {{ post.AuthorLastName }}</div>
        </div>
      </div>
      <div class="post-header-timestamp col-sm-4" >
          {{ post.PostDate | date: 'd/M/yy, h:mm a' }}
        </div>
      <div class="post-content">
        {{ post.Content }}
      </div>
      <div class="post-controls"></div>
          <button *ngIf="(getFilter(post.Likes)).length != 0" id="dislikebutton"  (click)="unlikePost(post.Id)" type="button" class="btn btn-danger" style="margin-right: 5px;">DISLIKE</button>

          <button *ngIf="(getFilter(post.Likes)).length === 0" id="likebutton" (click)="likePost(post.Id)" type="button" class="btn btn-success" style="margin-right: 5px;">LIKE</button>
          <span>Likes : {{post.Likes.length}}</span>

      </div>
    </div>
    </div>


