<form (submit)="RegisterUser($event)">
    <input name="Username" type="text" placeholder="Username" [(ngModel)]="registerModel.Username"/>
    <br/>
  <input name="Email" type="text" placeholder="Email" [(ngModel)]="registerModel.Email"/>
  <br/>
  <input name="Password" type="password" placeholder="Password" [(ngModel)]="registerModel.Password"/>
  <br/>
  <input  name="FirstName" type="text" placeholder="FirstName" [(ngModel)]="registerModel.FirstName"/>
  <br/>
  <input name="LastName" type="text" placeholder="LastName" [(ngModel)]="registerModel.LastName"/>
  <br/>
  <input name="MiddleName" type="text" placeholder="MiddleName" [(ngModel)]="registerModel.MiddleName"/>
  <br/>
  <input name="City" type="text" placeholder="City" [(ngModel)]="registerModel.City"/>
  <br/>
  <input name="Street" type="text" placeholder="Street" [(ngModel)]="registerModel.Street"/>
  <br/>
  <input name="BuildingNumber" type="text" placeholder="BuildingNumber" [(ngModel)]="registerModel.BuildingNumber"/>
  <br/>
  <input name="Description" type="text" placeholder="Description" [(ngModel)]="registerModel.Description"/>
  <br/>
  <input name="PhoneNumber" type="text" placeholder="PhoneNumber" [(ngModel)]="registerModel.PhoneNumber">
  <br/>
  <input name="" type="submit" value="Zarejestruj"/>
</form>
  